.Nav{
    display:flex;
    margin-left:9.5%;
    margin-top:2%;
    margin-right:10.8%;
    justify-content: space-between;
}

.Initial{
    width:16%;
    display:flex;
    justify-content: space-between;
}

